// compress: false
@import "vars";

body {
  box-sizing: border-box;
  color: @black;
}
html,
body {
  font-size: @fsize;
}
// header
@import "./blocks/header";

//buttons
@import './blocks/button.less';
